body {
    font-size: 12pt;
}

a {
    padding: 5px;
}
p {
    margin: 0;
    padding: 0;
}
h3 {
    size: 12pt;
    margin-bottom: 10px;
}
input {
    border-radius: 5px;
}
.adv-search {
    font-size: 9pt;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
    padding-top: 10px;
    padding-bottom: 10px;
}
.johno-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
    font-weight: 900;
}
.lower{
    height: 85vh;
}
.upper {
    height: 10vh;
}
.inputtext {
	border-radius: 25px;
	padding: 10px;
	border: 1px solid lightgray;
	width: 400px;
}


.google-input {
    float: right;
    margin-top: 20px;
    width: 150px;
    border-radius: 2px;
}
.google-bg-blue {
    background: #4d90fe;
    color: white;
}
.google-blue {
    color: #4d90fe;
}
.container {
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
