body {
    font-size: 12pt;
}
a {
    padding: 5px;
}
p {
    margin: 0;
    padding: 0;
}
h3 {
    size: 12pt;
    margin-bottom: 10px;
}
input {
    border-radius: 2px;
    padding: 5px;
    border: 1px solid lightgray;
}
.adv-search table tr td {
    padding-top: 10px;
}
td:nth-child(1) {
    width: 200px;
}
td:nth-child(3) {
    font-size: 8pt;
    padding-left: 10px;
}
.adv-search {
    font-size: 9pt;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
    padding-top: 10px;
    padding-bottom: 10px;
}
tr {
    height: 40px;
}
.adv-search-input {
    width: 550px;
}
.as-button {
    width: 100px;
    float: right;
    margin-bottom: 10px;
}
.search-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
    font-weight: 900;
}
.lower{
    height: 85vh;
}
.upper {
    height: 10vh;
}
.inputtext {
	border-radius: 25px;
	padding: 10px;
	border: 1px solid lightgray;
	width: 400px;
}
.google-input {
    float: right;
    margin-top: 10px;
    width: 100px;
    border-radius: 2px;
}
.google-bg-blue {
    background: #4d90fe;
    color: white;
}
.google-blue {
    color: #4d90fe;
}
.container {
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
